.footer{
    height: 60vh;
    padding: 0rem 3rem;
    background-image: url('../image/wave-orange.png');
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.email{
    margin-top: 14rem;
    display: flex;
    gap: 0.3rem;
   align-items: center;
   justify-content: center;
}
.email i{
    font-weight: 700;
}
.email > :nth-child(2){
    font-size: 14px;
    font-weight: bold;
    
}
.socila-icon {
   margin-top: 5.5rem;
   position: relative;
}
.socila-icon a i{
    font-size: 2rem;
    width: 40px;
    height: 40px;
    margin: 1px 5px;
    border-radius: 7px;
    text-align: center;
    background-color: black;
}
.socila-icon a i:hover{
  padding: 1px;
  box-shadow: 0px 10px 40px 0 white;
  transform: rotate(300deg);
}
